body{margin: auto 20% auto 20%; background:#ffd1f5;}
h1{ text-decoration: underline;}
p{margin-bottom: 50px; background: white;}
.texto-1{ border: 1px solid black; text-align: right; font-size: 16px; padding: 15px; font-family: 'Courier New', Courier, monospace; line-height: 24px;}
.texto-2{ border: 1px solid red; text-align: left; font-size: 15px; padding: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 20px;}
img{margin: 10px; width: 100px; height: 100px; float: right; clear: right;}
.letra-capital{border: 1px solid black; font-size: 30px; font-weight: bold; padding: 3px;}